# graph plotting
/*.pal
/*.png
/docs/*.png
/docs/*.svg
/docs/diagrams/palette preview emphasis 0*
/docs/diagrams/QAM phase 0*
/docs/diagrams/waveform phase 0*

# virtualenv stuff
/Lib
/Scripts
/share
/pyvenv.cfg
/generated
/__pycache__
/palgen_env

#vs code
/.vscode
