# graph plotting
/*.pal
/*.png
/docs/*.svg
/docs/diagrams/palette_preview_emphasis_0*
/docs/diagrams/QAM_phase_0*
/docs/diagrams/waveform_phase_0*

# virtualenv stuff
/Lib
/Scripts
/share
/pyvenv.cfg
/generated
/__pycache__
/palgen_env

#vs code
/.vscode
